<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Dra. Estela Escobar Norzagaray</h2>
                    <h3 class="section-subheading text-muted">ODONTÓLOGA.</h3>
                </div>
            </div>
            <div class="row" style="align-content: center;">
                <div class="col-xs-6" style="margin-left: 150px;">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Diciembre 2017</h4>
                            <h5>Egresada de la Universidad Juárez Autónoma de Tabasco.</h5>
                        </div>
                    </div>                
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>2018-2019</h4>
                            <h5>Realizó su servicio social en el hospital Dr. Manuel Gea González (Ciudad de México).</h5>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Realizaba tratamientos integrales de restauración dental para pacientes con anomalías craneo faciales y enfermedades sistemicas.</p>
                        </div>
                    </div>   
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>2020-2022</h4>
                            <h5 >Trabajó en la fundación México Sonrie Feliz A.C.</h5>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Odontología General y tratamientos de conductos.</p>
                        </div>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>2021-2022</h4>
                            <h5 >Diplomado en diagnóstico e interpretación radiográfica de patologías orales y maxilofaciales en el grupo educativo IEER 2022</h5>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted"></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">                    
                        <img src="img/team/foto_dra.jpeg" class="img-responsive">
                </div>
            </div>
        </div>
    </section>