<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Dra.Estela Escobar Norzagaray</h2>
                    <h3 class="section-subheading text-muted">ODONTOLOGA.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <!-- <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div> -->
                            <div class="timeline-panel">
                                <!-- <div class="timeline-heading"> -->
                                    <h4>2018</h4>
                                    <h4 class="subheading">Egresada de la universidad Juárez Autónoma de Tabasco.  </h4>
                                <!-- </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div> -->
                            </div>
                        </li>
                        <li>
                            <!-- <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div> -->
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-2020</h4>
                                    <h4 class="subheading">Realizó suservicio social en el hospital  Dr.Manuel Gea González  (Ciudad de México).</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Realizaba tratamientos integrales de restauración dental para paciente con anomalía craneo faciales  y  de sistemas.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <!-- <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div> -->
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020-2022</h4>
                                    <h4 class="subheading">Trabajó en la fundación México sonrie feliz A. C .</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Odontología General y tratamientos de conductos.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <!-- <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div> -->
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021-2022</h4>
                                    <h4 class="subheading">Diplomado en diagnóstico e interpretación radiográfica de patologías orales y maxilofaciales en el grupo educativo IEER 2022</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>