<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                  
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="img/team/odontologia_general.png" class="img-responsive img-circle" alt="">
                    </div>
                    <h4 class="service-heading">Odontología General</h4>
                    <p class="section-subheading text-muted">-Blanqueamiento</p>
                    <p class="section-subheading text-muted">-Coronas</p>
                    <p class="section-subheading text-muted">-Prótesis</p>
                    <p class="section-subheading text-muted">-Resinas</p>
                    <p class="section-subheading text-muted">-Limpiezas</p>
                    <p class="section-subheading text-muted">-Extraciones</p>
                    <p class="section-subheading text-muted">-Restauraciones</p>
                    <p class="section-subheading text-muted">-Guardas Dentales</p>
                    <p class="section-subheading text-muted">-Carillas</p>
                    
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="img/team/radiologia.png" class="img-responsive img-circle" alt="">
                    </div>
                    <h4 class="service-heading">Radiología</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="img/team/endodoncia.png" class="img-responsive img-circle" alt="">
                    </div>
                    <h4 class="service-heading">Endodoncia</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>